.charSheet {
    width: 80%;
    margin: auto;

}

.charContent {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.firstColumn,
.secondColumn,
.thirdColumn {
    width: 30%;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.secondColumn {
    display: block;
}