.combatStats {
    background-color: #dedede;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.combatStatsRow {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-content: stretch;
}

.combatStatsRow:last-child {
    margin-bottom: 20px;
}

.armorClass {
    height: 100px;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}

.statContainer {
    height: 100px;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
}

.statHeader {
    color: #6e6e6e;
}

.statValue {
    font-size: 1.5rem;
}