.inventoryContainer {
    width: 100%;
    background-color: #dedede;
}

.inventoryContainer h4 {
    text-align: center;
}

.inventoryList {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 0;
}

.inventoryItem {
    margin-bottom: 5px;
    border-bottom: 1px solid #6e6e6e;
}